# Bootstrap
symfony/pp/bootstrap*

# Symfony directories
symfony/vendor/*
symfony/*/logs/*
symfony/*/cache/*
symfony/web/uploads/*
symfony/web/bundles/*

# Configuration files
symfony/app/config/parameters.ini
symfony/app/config/parameters.yml
